.login-container {
  background-image: url('../../assets//login-bg1.jpg');
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  height: 100%;

  .login-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .backup {
    display: flex;
    backdrop-filter: blur(6px);
  }

  .login-card {
    width: 280px;
  }

  .login-card-left {
    color: white;
    font-family: 600px;
    font-size: 16px;
    background-color: rgba(96, 102, 107, 0.194);
  }

  .login-card-right {
    box-shadow: 0px 0px 25px 1px rgba(10, 10, 10, 0.575);
    background-color: rgba(254, 254, 254, 0.929);
    z-index: 10;
    margin-left: -280px;
  }

  .login-card-right {
    animation: slider 0.75s ease-in-out 1;
    animation-fill-mode: both;
  }

  .path1 {
    animation: fadeFeel 2.5s ease-in-out 1;
    animation-fill-mode: both;

  }

  .path3 {
    animation: fadeFeel 2.5s ease-in-out 1;
    animation-fill-mode: both;
  }

  .path5 {
    animation: fadeFeel 2.5s ease-in-out 1;
    animation-fill-mode: both;
  }

  .path7 {
    animation: fadeFeel 2.5s ease-in-out 1;
    animation-fill-mode: both;
  }

  .path11 {
    animation: fadeFeel 2.5s ease-in-out 1;
    animation-fill-mode: both;
  }

  .foget-password {
    margin-left: 35%;
  }

  .login-register {
    width: 100%;
    display: flex;
    justify-content: center;

    .ant-form-item-row {
      width: 100%;
    }
  }

  .login-form-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .login-svg {
    width: 200px;
    height: 200px;
  }



  @keyframes fadeFeel {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slider {
    0% {
      margin-left: -280px;
    }

    100% {
      margin-left: -50px;
    }

  }
}